extends layout

block content
    h1 #{title}
    form(method='POST', action='/item/add')
        #form-group
            label Name:
            input.form-control(name='name', type='text')
        #form-group
            label Category:
            input.form-control(name='category', type='text')
        #form-group
            label Quantity:
            input.form-control(name='quantity', type='text')
        br
        input.btn.btn-primary(type='submit' value='submit')